<nav class="uk-navbar uk-navbar-container uk-margin">
    <div class="uk-navbar-center">
		<a class="uk-navbar-item uk-logo" href="#"><span uk-icon="uikit"></span> Blank</a>
        <a class="uk-navbar-toggle" href="#">
			<a href="#menu-canvas" class="link-simple" uk-toggle>
				<span uk-navbar-toggle-icon></span>
				<span>Menu</span>
			</a>
        </a>
    </div>
</nav>
<div id="menu-canvas" uk-offcanvas>
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
		
		<div class="uk-width-1-2@s uk-width-2-5@m">
			<ul class="uk-nav uk-nav-default">
				<li class="uk-nav-header">Menu example</li>
				<li><a href="introduction">Introduction</a></li>
				<li><a href="installation">Installation</a></li>
				<li class="uk-nav-divider"></li>
				<li><a href="#">Author</a></li>
			</ul>
		</div>
    </div>
</div>