<nav class="uk-navbar-container uk-margin" uk-navbar>
	<div class="uk-navbar-center">
		<a class="uk-navbar-item uk-logo" href="#">Logo</a>
		<ul class="uk-navbar-nav">
			<li>
				<a href="#">Element</a>
			</li>
			<li>
				<a href="#">Element</a>
			</li>
			<li>
				<a href="#">Element</a>
			</li>
		</ul>
	</div>
</nav>