<div class="uk-section uk-section-secondary uk-section-primary">
	<div class="uk-container uk-container-small">
		<div uk-grid>
			<div>
				<img class="uk-animation-stroke" width="128" height="128" src="/img/strokes.svg" alt="" uk-svg="stroke-animation: true"/>
			</div>
			<div>
				<h3>Blank Template</h3>
				<p><span><b>MVC</b> template for quick start of your web project in PHP 7.<br/>Say NO to clumsy frameworks and full of CMS.</p>
			</div>
		</div>
	</div>
</div>