<!DOCTYPE html>
<html lang="ru">
	{% include 'parts/head.tmpl' %}
	<body>
		<div class="white-wrap">
			{% include 'parts/navbar.tmpl' %}
			{% if page.tag == 'home' %}
				{% include 'parts/main/promo.tmpl' %}
			{% endif %}
			<div class="uk-container uk-padding">
				{% include 'pages/'~page.tag~'.tmpl' %}
			</div>
		</div>
		{% include 'parts/footer.tmpl' %}
		{% include 'parts/scripts.tmpl' %}
	</body>
</html>
